@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");
.button {
  background: #34353A !important;
  color: #FECA6B !important;
  font-size: 1rem !important;
  font-weight: bold !important;
  border: 4px solid #FECA6B !important;
  border-radius: 10px !important;
  height: 3.3rem;
  width: 9rem;
  cursor: pointer !important;
}

.button:hover {
  background-color: #31333B;
}

.icon {
  background: #34353A;
  border-radius: 100%;
  -webkit-transform: scale(2);
          transform: scale(2);
  margin: 1rem;
  color: #FCFCFC;
}

.icon:hover {
  background: #34353A;
  border: 1px solid #FECA6B;
  border-radius: 100%;
  -webkit-transform: scale(2);
          transform: scale(2);
  margin: 1rem;
  color: #FCFCFC;
}

.navbar {
  background: #34353A !important;
  padding: 0;
  height: 7rem;
  border: 0 !important;
  position: relative;
}

.brand {
  position: absolute;
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -5rem;
}

.logo {
  -webkit-transform: scale(0.35);
          transform: scale(0.35);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.navLink {
  font-size: 1rem;
  font-weight: normal;
  color: #fff !important;
}

.toggle {
  border: 0 !important;
  background: none !important;
}

.navscroll {
  border-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  .navbar {
    background: #34353A !important;
    padding: 7px;
    height: 5rem;
    -webkit-transition: 80ms ease-in-out;
    transition: 80ms ease-in-out;
  }
  .brand {
    font-size: 2rem;
    font-weight: bold;
    color: #fff !important;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.8rem;
  }
  .navLink {
    font-size: 1.1rem;
    padding: auto;
    font-weight: 450;
    color: #fff !important;
    margin-bottom: 7px;
  }
  .toggle {
    border: 0px solid  !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    background: #FECA6B !important;
  }
  .navscroll {
    height: 17.5rem;
    width: 100% !important;
    border-bottom: 2px solid #FECA6B !important;
    background: #31333B !important;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    background: #34353A !important;
    padding: 12px !important;
    height: 5rem;
    scroll-behavior: smooth;
    -webkit-transition: 80ms ease-in-out;
    transition: 80ms ease-in-out;
  }
  .brand {
    font-size: 2rem;
    font-weight: bold;
    color: #fff !important;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.8rem;
  }
  .navLink {
    font-size: 1.1rem;
    padding: auto;
    font-weight: 450;
    color: #fff !important;
    margin-bottom: 7px;
  }
  .toggle {
    border: 0px solid  !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    background: #FECA6B !important;
  }
  .navscroll {
    height: 23.5rem;
    width: 100% !important;
    border-bottom: 2px solid #FECA6B !important;
    background: #31333B !important;
    padding: 7px;
    gap: 5px;
  }
  .btn {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=Header.module.css.map */