@import '../../styles/global.scss';

.intro{
    width: 100%;
    background: $primaryColor;
    height: 40rem;
        border-bottom: 0px !important;

}
.introContent{
    display: flex !important;
    flex-direction: column !important;
    margin-top: 9.5rem;
    gap: 3rem;
    color: #fff;

}
.introContent>:nth-child(1){
    display: flex;
    margin-bottom: -4rem;

}
.introContent>h2{
    gap: 1rem;
}
.text2{
    color: $yellow !important;
    font-weight: bold;
    font-size: 3.5rem; 
    justify-content: center;
    margin-top: -20px;
    margin-left: 10px;
    
}
.introContent>:nth-child(2){
    margin: 0rem 0rem 1.5rem 0rem;
    font-size: 1.7rem;
    font-weight: normal;
    font-style: normal;
    width: 70%;
    margin-top: 4rem;
    line-height: 3rem;
}
.img{
    position: relative;
    left: -3rem;
    top: 2.29rem;
    width: 100% !important;
    // margin-top: 2.5rem;
    transform: scale(1.2);
    // height: 3rem !important;
    z-index: 1;
    object-fit: contain;
    border-color: $primaryColor !important;
}
.icons{
    gap: 2rem !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: -16rem !important;
    position: relative;
    z-index: 2;
   
}
.icon{
    z-index: 1;
    height: 100%;
    justify-content: end !important;
    margin-left:68rem;
    cursor: pointer;
    margin-top: 1.1rem !important;
    align-items: flex-end;

}
.introRight{
    z-index: 1;

}
.ico{
    z-index: 1;
    position: relative;
    top: -18rem;
    left: 14.59rem;
    height: 3rem !important;
}
.maincircle{
    position: relative;
    width: 100%;
}
.circle{
    position: absolute;
    top: -45rem;
    left: 27.5rem;
    transform: scale(.8);

}
.cimg{
    z-index: 2;
    transform: scale(.7);
    
}


// Medium devices (tablets, 768px and up)
@media screen and (max-width: 768px) { 
    .intro{
        width: 100%;
        background: $primaryColor;
        height: 30rem;
        border-bottom: 0.1px solid $yellow;
    }
    .introContent>:nth-child(1){
        display: flex;
        margin-bottom: -4rem;
        
    }
    .introContent>h2{
        gap: 1rem;
        font-size: 1rem;
    }
    .text2{
        color: $yellow !important;
        font-weight: bold;
        font-size: 2rem; 
        justify-content: center;
        margin-top: -10px;
        margin-left: 10px;
        
    }
    .introContent>:nth-child(2){
        margin: 0rem 0rem 1.5rem 0rem;
        font-size: 1.2rem;
        font-weight: normal;
        font-style: normal;
        width: 70%;
        margin-top: 4rem;
        line-height: 2rem;
    }
    .img{
        position: relative;
        left: -3rem;
        top: 5rem;
        width: 100% !important;
        // margin-top: 2.5rem;
        transform: scale(1.37);
        // height: 3rem !important;
        z-index: 1;
        object-fit: contain;
        border-color: $primaryColor !important;
    }
    .icons{
        gap: 2rem !important;
        display: flex;
        flex-direction: column;
        width: 100%;
        top: -8rem !important;
        position: relative;
        z-index: 2;
       
    }
    .icon{
        z-index: 1;
        height: 100%;
        justify-content: end !important;
        margin-left:68rem;
        cursor: pointer;
        margin-top: 1.2rem !important;
        align-items: flex-end;
    
    }
    .introRight{
        z-index: 1;
    
    }
    .ico{
        z-index: 1;
        position: relative;
        top: -18rem;
        left: 14.59rem;
        height: 3rem !important;
    }
    .maincircle{
        position: relative;
        width: 100%;
    }
    .circle{
        position: absolute;
        top: -50rem;
        left: 14.5rem;
        transform: scale(.7);
    
    }
    .cimg{
        z-index: 2;
        transform: scale(.7);
        
    }
}
@media screen and (max-width: 480px) {
    .intro{
        width: 100%;
        background: $primaryColor;
        height: 44rem;
        border-bottom: none !important;
    }
    .introContent{
        display: flex !important;
        flex-direction: column !important;
        margin-top: 4rem;
        gap: 1rem;
        color: #fff;
    
    }
    .introContent>:nth-child(1){
        display: flex;
        margin-bottom: -4rem;
    }
    .introContent>h2{
        gap: 1rem;
        font-size: 1.35rem !important;
    }
    .text2{
        color: $yellow !important;
        font-weight: bold;
        font-size: 2.5rem; 
        justify-content: center;
        margin-top: -15px;
        margin-left: 10px;
        
    }
    .introContent>:nth-child(2){
        margin: 0rem 0rem 1.5rem 0rem;
        font-size: 1.5rem;
        font-weight: normal;
        font-style: normal;
        width: 100%;
        margin-top: 4rem;
        line-height: 3rem;
    }
    .img{
        position: relative;
        left: 0rem;
        top: 2.35rem;
        width: 100% !important;
        // margin-top: 2.5rem;
        transform: scale(1.05);
        // height: 3rem !important;
        z-index: 1;
        object-fit: contain;
        border-color: $primaryColor !important;
    }
    .icons{
        display: flex;
        flex-direction:row;
        width: 100%;
        top: 3rem !important;
        position: relative;
        z-index: 2;
        left: -25rem;
        align-items: center;
        justify-content: space-between !important;
        gap: 2rem !important;

        
       
    }
    .icon{
        z-index: 1;
        width: 100% !important;
        position: relative !important;
        display: flex;
        flex-direction: row;
        top: 3rem;
        left: -40px;
        // padding: 1rem;
        margin: 0px 40px 0px 0px;
        transform: scale(1.2);
        align-items: center !important;
        display: none !important;
    
    }
    .introRight{
        z-index: 1;
    
    }
    .ico{
        transform: rotate(90deg);
        z-index: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0rem;
        left: 19.59rem;
        height: 1rem !important;
        margin-bottom: 10px;

    }
    .maincircle{
        position: relative;
        width: 100%;
    }
    .circle{
        position: absolute;
        top: -30rem;
        left: -13.5rem;
        transform: scale(.7);
        display:none !important;
    
    }
    .cimg{
        z-index: 2;
        transform: scale(.7);
        
    }    
}

// XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {  }
