@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");
.button {
  background: #34353A !important;
  color: #FECA6B !important;
  font-size: 1rem !important;
  font-weight: bold !important;
  border: 4px solid #FECA6B !important;
  border-radius: 10px !important;
  height: 3.3rem;
  width: 9rem;
  cursor: pointer !important;
}

.button:hover {
  background-color: #31333B;
}

.icon {
  background: #34353A;
  border-radius: 100%;
  -webkit-transform: scale(2);
          transform: scale(2);
  margin: 1rem;
  color: #FCFCFC;
}

.icon:hover {
  background: #34353A;
  border: 1px solid #FECA6B;
  border-radius: 100%;
  -webkit-transform: scale(2);
          transform: scale(2);
  margin: 1rem;
  color: #FCFCFC;
}

.experience {
  height: 50rem;
}

.eLeft, .icons {
  position: relative;
}

.dates {
  position: absolute;
  top: 10rem;
  background: #3D3E42 !important;
  color: #fff;
  width: 5rem;
  height: 3rem;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: bold;
  -webkit-clip-path: polygon(0% 20%, 0 15%, 73% 15%, 100% 50%, 73% 86%, 0 87%, 1% 88%);
          clip-path: polygon(0% 20%, 0 15%, 73% 15%, 100% 50%, 73% 86%, 0 87%, 1% 88%);
}

.round {
  position: absolute;
  top: -4rem;
  left: -5rem;
  -webkit-transform: scale(0.07);
          transform: scale(0.07);
  border: 0px solid #FECA6B;
  border-radius: 100% !important;
  box-shadow: -7px 10px 228px 44px rgba(254, 202, 107, 0.45);
  -webkit-box-shadow: -7px 10px 228px 44px rgba(254, 202, 107, 0.45);
  -moz-box-shadow: -7px 10px 228px 44px rgba(254, 202, 107, 0.45);
}

.border {
  position: absolute;
  border: 2px solid #fff;
  height: 10rem;
  top: 14rem;
  left: 10.5rem;
}

.eRight {
  position: relative;
  height: 20rem !important;
}

.details {
  width: 60%;
  position: absolute;
  top: 10.2rem;
  left: 14rem;
}

.work {
  font-weight: bold;
}

.loc {
  font-weight: normal;
}

.desc {
  opacity: .6;
  margin-top: 2rem !important;
}

.comp {
  font-weight: 550 !important;
  color: #FECA6B;
}

@media screen and (max-width: 480px) {
  .experience {
    height: 50rem;
  }
  .eLeft {
    position: absolute;
    width: 100%;
    left: -14rem;
  }
  .icons {
    position: relative;
  }
  .dates {
    position: absolute;
    top: 7rem;
    left: 10rem !important;
    background: #3D3E42 !important;
    color: #fff;
    width: 5rem;
    height: 3rem;
    padding: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    font-weight: bold;
    -webkit-clip-path: polygon(0% 20%, 0 15%, 73% 15%, 100% 50%, 73% 86%, 0 87%, 1% 88%);
            clip-path: polygon(0% 20%, 0 15%, 73% 15%, 100% 50%, 73% 86%, 0 87%, 1% 88%);
  }
  .round {
    position: absolute;
    top: -4rem;
    left: -5rem;
    -webkit-transform: scale(0.07);
            transform: scale(0.07);
    box-shadow: -7px 10px 228px 44px rgba(254, 202, 107, 0.45);
    -webkit-box-shadow: -7px 10px 228px 44px rgba(254, 202, 107, 0.45);
    -moz-box-shadow: -7px 10px 228px 44px rgba(254, 202, 107, 0.45);
  }
  .border {
    position: absolute;
    border: 2px solid #fff;
    height: 22rem;
    top: 14rem;
    left: 10.5rem;
  }
  .eRight {
    position: relative;
    height: 20rem !important;
  }
  .details {
    width: 100%;
    position: absolute;
    top: 10.5rem;
    left: -3.4rem;
  }
  .work {
    font-weight: bold;
  }
  .loc {
    font-weight: normal;
  }
  .desc {
    opacity: .8;
    margin-top: 1.5rem !important;
    font-size: 1rem !important;
    width: 100% !important;
  }
  .comp {
    font-weight: 550 !important;
    color: #FECA6B;
  }
  .dates {
    position: absolute;
    top: 7rem;
    left: 10rem !important;
    background: #3D3E42 !important;
    color: #fff;
    width: 5rem;
    height: 3rem;
    padding-bottom: 1.5rem !important;
    padding-top: .5rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    font-weight: bolder;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 63%, 51% 86%, 0 63%);
            clip-path: polygon(0 0, 100% 0%, 100% 63%, 51% 86%, 0 63%);
  }
}
/*# sourceMappingURL=Experience.module.css.map */