@import '../../styles/global.scss';


.card{
    width: 23rem !important;
    height: 26rem !important;
    gap: 7rem !important;
    margin-right: 2rem !important;
    position: relative;
}
.img{
    height: 18rem !important;
    padding: 2px;
}
.body{
    position: absolute;
    top: 17rem;
    padding: 2rem !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-bottom: -10px;
}
.card:hover{
    background: $yellow;
}
.btn{
    margin-top: -19px !important;
}
.title{
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    justify-content: center;
    margin-bottom: -15px;

}
.text{
    font-size: .9rem;
    font-weight: normal;
    font-style: normal;
}
.icon{
    transform: scale(.6);
    margin-left: -5px;
}
.btn{
    background: #31333b11 !important;
    border-radius: 20px;
    font-weight: bold;
}
@media screen and (max-width:768px) {        
    .card{
        width: 21.5rem !important;
        height: 25.5rem !important;
        gap: 0rem !important;
        margin-right: 0rem !important;
        position: relative;
    }
    .img{
        height: 19.5rem !important;
        padding: 2px;
    }
    .body{
        position: absolute;
        top: 16rem;
        padding: 2rem !important;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    .btn{
        margin-top: -8px;
        padding: 5px !important;
    }
    .title{
        font-size: 1.2rem;
        font-weight: bold;
        font-style: normal;
        justify-content: center;
    
    }
    .text{
        font-size: 1rem;
        font-weight: normal;
        font-style: normal;
    }
    .icon{
        transform: scale(.6);
        margin-left: -5px;
    }
    .btn{
        background: #31333b11 !important;
        border-radius: 5px;
    }
        
    }
@media screen and (max-width: 480px) {
   
.card{
    width: 19rem !important;
    height: 25rem !important;
    gap: 7rem !important;
    margin-right: 2rem !important;
    position: relative;
}
.img{
    height: 17.5rem !important;
    padding: 2px;
}
.body{
    position: absolute;
    top: 17rem;
    padding: 2rem !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.btn{
    margin-top: 6px !important;
    padding: 5px !important;
    box-shadow: none;
}
.title{
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    justify-content: center;

}
.text{
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
}
.icon{
    transform: scale(.6);
    margin-left: -5px;
}
.icon:hover{
    transform: scale(.6);
    margin-left: -5px;
}
.btn{
    background: #31333b11 !important;
    border-radius: 5px;
}
    
}
