@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");
.button {
  background: #34353A !important;
  color: #FECA6B !important;
  font-size: 1rem !important;
  font-weight: bold !important;
  border: 4px solid #FECA6B !important;
  border-radius: 10px !important;
  height: 3.3rem;
  width: 9rem;
  cursor: pointer !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.button:hover {
  background-color: #31333B;
}

.icon {
  background: #34353A;
  border-radius: 100%;
  -webkit-transform: scale(2);
          transform: scale(2);
  margin: 1rem;
  color: #FCFCFC;
}

.icon:hover {
  background: #34353A;
  border: 1px solid #FECA6B;
  border-radius: 100%;
  -webkit-transform: scale(2);
          transform: scale(2);
  margin: 1rem;
  color: #FCFCFC;
}

.card {
  width: 23rem !important;
  height: 26rem !important;
  gap: 7rem !important;
  margin-right: 2rem !important;
  position: relative;
}

.img {
  height: 18rem !important;
  padding: 2px;
}

.body {
  position: absolute;
  top: 17rem;
  padding: 2rem !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  margin-bottom: -10px;
}

.card:hover {
  background: #FECA6B;
}

.btn {
  margin-top: -19px !important;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -15px;
}

.text {
  font-size: .9rem;
  font-weight: normal;
  font-style: normal;
}

.icon {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  margin-left: -5px;
}

.btn {
  background: #31333b11 !important;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 21.5rem !important;
    height: 25.5rem !important;
    gap: 0rem !important;
    margin-right: 0rem !important;
    position: relative;
  }
  .img {
    height: 19.5rem !important;
    padding: 2px;
  }
  .body {
    position: absolute;
    top: 16rem;
    padding: 2rem !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
  }
  .btn {
    margin-top: -8px;
    padding: 5px !important;
  }
  .title {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text {
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
  }
  .icon {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    margin-left: -5px;
  }
  .btn {
    background: #31333b11 !important;
    border-radius: 5px;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 19rem !important;
    height: 25rem !important;
    gap: 7rem !important;
    margin-right: 2rem !important;
    position: relative;
  }
  .img {
    height: 17.5rem !important;
    padding: 2px;
  }
  .body {
    position: absolute;
    top: 17rem;
    padding: 2rem !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
  }
  .btn {
    margin-top: -15px !important;
    padding: 5px !important;
  }
  .title {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text {
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
  }
  .icon {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    margin-left: -5px;
  }
  .btn {
    background: #31333b11 !important;
    border-radius: 5px;
  }
}
/*# sourceMappingURL=portfolioCard.module.css.map */